<div #scrollDown style="display: flex; flex-flow: column; height: calc(100vh - 49.1px); padding: 20px 20px 0 20px">
  <div
    style="flex: 1; display: flex; flex-flow: column; gap: 8px;"
  >
<!--    <p>traducció: {{ 'test' | translate }}</p>-->
    <div *ngFor="let message of messages, let i = index"
          style="border-radius: 16px; max-width: 75%; padding: 6px 10px; width: fit-content; line-height: 1.2rem"
         [style.background]="message.role == 'user' ? 'var(--dark-button-background)' : 'var(--background-color)'"
          [style.color]="message.role == 'user' ? 'white' : 'inherit'"
         [style.align-self]="message.role == 'user' ? 'end' : 'start'"
         [style.border]="message.role == 'assistant' ? '1px solid' : 'none'"
         [style.display]="message.role == 'system' ? 'none' :
         message.role == 'assistant' && i == messages.length - 1 ? 'none' :
         'block'"
         [ngClass]="i == (messages.length - 1) && lastMessage?.role == 'assistant' ? 'last-message' : ''"
        >
      {{!(i == (messages.length - 1) && lastMessage?.role == 'assistant') ? message.content : '' }}
    </div>
    <div style="border-radius: 16px; max-width: 75%; padding: 6px 10px; width: fit-content; line-height: 1.2rem"
         [style.background]="'var(--background-color)'"
      [style.color]="'inherit'"
      [style.align-self]="'start'"
      [style.display]="!(lastMessage) || lastMessage.role == 'assistant' ? 'block' : 'none'" #lastMessageContainer    >
    </div>

<app-loader *ngIf="lastMessage?.role == 'user'"></app-loader>
    <br> <br> <br> <br> <br>
  </div>

  <app-chat-input [emotion]="emotion" [char]="imgChar" style="position: sticky; bottom: 0; width: 100%;" ></app-chat-input>
</div>
