<nav>
  <label for="color">Filter by:</label>
  <select id="color" name="color">
    <option value="vermell">Vermell</option>
    <option value="blau">Blau</option>
    <option value="verd">Verd</option>
    <option value="groc">Groc</option>
  </select>
</nav>
<div style="display: flex; flex-wrap: wrap; gap: 4px; height: calc(100vh - 150px)">
  <ul>
    <li *ngFor="let item of stackAndSkills | keyvalue">
      <strong>{{ item.key }}</strong>:
      <span *ngFor="let skill of item.value" style="padding: 0 4px; border: 1px solid; border-radius: 10292px">
      {{ skill }}
      </span>
    </li>
  </ul>
</div>
