<style>
  ::ng-deep ngx-extended-pdf-viewer {
    padding: 0 !important;
    margin: 0 !important;
    height: 105% !important;
    width: 100% !important;
    box-sizing: border-box;
  }
</style>
<div class="flex flex-col items-end">
    <a href="ardevol_cv.pdf" class="w-min" download >
      <button class="p-2 m-2 text-white w-10 h-10 aspect-square bg-[var(--text-color)] rounded-lg" >
        <i class="bi bi-download outline-1" style="color: var(--dark-button-text-color)"></i>
      </button>
      <br>
    </a>
  <div class="rounded-md h-full w-full overflow-hidden border">
    <app-loader class="p-4" *ngIf="!loaded"></app-loader>
    <pdf-viewer
      [src]="'ardevol_cv.pdf'"
      [render-text]="true"
      [original-size]="false"
      [fit-to-page]="true"
      [show-all]="true"
      (after-load-complete)="loaded = true"
      style="display: block; width: 100%; height: calc(100vh - 200px); background: white"
    ></pdf-viewer>
  </div>


</div>
