li {
  border-radius: 12px;
  padding: 12px 16px;
  cursor: pointer
}

hr {
  border-bottom: 0.5px solid;
}

button {
  aspect-ratio: 1/ 1;
  width: 48px;
  border-radius: 12px;
}

li:hover , button:hover {
  background: color-mix(in srgb, var(--dark-button-background) 15%, white 85%);
}
