<style>
  .message {
    @apply max-w-[75%] py-2 px-3 w-fit;
    line-height: 1.2rem;
    border-radius: 18px;
  }

  .message.assistant {
    align-self: flex-start;
    background: var(--dark-button-background);
    color: white;
  }

  .message.user {
    background: color-mix(in srgb, var(--dark-button-background) 25%, white 75%);
    align-self: flex-end;
    /*background: var(--background-color);*/
    color: inherit;
  }
</style>
<div #scrollDown class="flex flex-col" style="height: calc(100vh - var(--navbar-height)); padding: 20px 20px 0 20px">
  <div class="flex-1 flex flex-col gap-2">
    <div class="message " *ngFor="let message of messages, let i = index"
         [style.display]="message.role == 'system' ? 'none' :
         message.role == 'assistant' && i == messages.length - 1 ? 'none' :
         'block'"
         [ngClass]="{
          'user': message.role === 'user',
          'assistant': message.role === 'assistant',
          'last-message': i === messages.length - 1 && lastMessage?.role === 'assistant'
        }"
        >
      {{!(i == (messages.length - 1) && lastMessage?.role == 'assistant') ? removeEmotionNotation(message.content) : '' }}
    </div>
    <div class="message assistant"
      [style.display]="!(lastMessage) || lastMessage.role == 'assistant' ? 'block' : 'none'" #lastMessageContainer    >
    </div>

<app-loader *ngIf="lastMessage?.role == 'user'"></app-loader>
    <br> <br> <br> <br> <br> <br> <br> <br>
  </div>

  <div class="sticky bottom-0 w-full flex items-end flex-col">

    <app-chat-input [disabled]="disabled" class="mb-5" />
    <app-chat-avatar [emotion]="emotion" [char]="imgChar" class="flex items-end justify-end"/>
  </div>
</div>
