<p>
  {{ 'about.about' | translate }}
</p>
<br>
<p>
  <i class="bi bi-geo-alt-fill"></i>&nbsp;{{ 'about.locations' | translate }}
</p>
<br>
<ul class="contact-list">
  <li class="github">
    <i class="bi bi-github"></i>
    <a href="https://github.com/gabrielardevol" target="_blank">github.com/gabrielardevol</a>

  </li>
  <li class="linkedin">
    <i class="bi bi-linkedin"></i>
    <a href="https://www.linkedin.com/in/gabrielardevol/" target="_blank">linkedin.com/in/gabrielardevol</a>
  </li>
  <li class="whatsapp">
    <i class="bi bi-whatsapp"></i>
    +34 646 18 16 10
  </li>
  <li class="email">
    <i class="bi bi-envelope-fill"></i>
    artsdevol&#64;gmail.com
  </li>
</ul>

