<p>
  {{ 'about.about' | translate }}
</p>
<br>
<ul>
  <li> <i class="bi bi-whatsapp"></i>&nbsp;+34 646 18 16 10</li>
  <li><i class="bi bi-linkedin"></i>&nbsp;<a href="https://www.linkedin.com/in/gabrielardevol/" target="_blank">linkedin.com/in/gabrielardevol</a> </li>
  <li><i class="bi bi-github"></i>&nbsp;<a href="https://github.com/gabrielardevol" target="_blank">github.com/gabrielardevol</a> </li>

  <li><i class="bi bi-envelope-fill"></i>&nbsp;artsdevol&#64;gmail.com</li>
</ul>
<br>
<p>
  {{ 'about.locations' | translate }}
</p>
